.profile-pic{
    border-radius: 0 0 0 0.625rem;
}

.profile-name{
    font-family: "Cormorant Garamond";
    font-size: 137px;
    font-weight: 700;
    line-height: 1.2;
}

.profile-nameJapnese{
    font-family: "Hiragino";
    font-weight: 700;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
  }
  
  .scroll-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000; 
    font-size: 11px; 
    font-weight: 600;
    text-transform: uppercase;
    width: 12.5rem;
    height: 12.5rem;
    cursor: pointer;

  }
  
  .fellow-profile {
    border-bottom: solid 1px #aaa;
    border-top: solid 1px #aaa;
    font-size: 11px;
    color: #aaaaaa;
    font-family: "Open Sans";
    text-transform: uppercase;
  }
  
  .fellow-profile h5 {
    display: inline-block;
    padding-left: 10px;
  }
  
  .fellow-profile h5::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 4px;
    height: 4px;
    background-color: #aaaaaa;
    border-radius: 50%;
    margin-right: 5px;
  }

  .fellow-profile p{
    font-family: "Hiragino";
    color: #000;
    padding: 30px 100px 50px 0px;
  }
 
  .fellow-website {
    border-top: solid 1px #aaa;
    font-size: 11px;
    color: #aaaaaa;
    font-family: "Open Sans";
    text-transform: uppercase;
  }
  
  .fellow-website h5 {
    display: inline-block;
    padding-left: 10px;
  }
  
  .fellow-website h5::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 4px;
    height: 4px;
    background-color: #aaaaaa;
    border-radius: 50%;
    margin-right: 5px;
  }

  .fellow-website h3{
    font-size: 16px;
    color: #000;
    font-family: "Shippori Mincho B1" ;
  }

  .fellow-website h6{
    font-size: 12px;
    color: #000;
    font-family: "Cormorant Garamond";
    text-align: center;
    margin:auto;
  }

  .bg-fellow {
    background-image: url('../../assets/images/bg-fellowSingle.jpg');
    border-radius: 0.625rem 0 0 0.625rem;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .reports{
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
  }

  .reports h4{
    font-size: 25px;
  }

  .reports h4::before{
    content: "";
    display: inline-block;
    background-color: #ad181f;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .blog{
    width: 30rem;
    height: 13.25rem;
    margin-right: 1.75rem;
    border-radius: 0.25rem;
  }

  .blog img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
  }

  .blog-inner p{
    font-size: 13px;
    color: #787878;
    font-family: "Hiragino";
    letter-spacing: .1em;
    line-height: 1.5;
    font-weight: 700;
  }

  .blog-inner h3{
    font-size: 17px;
    color: #000;
    font-family: "Hiragino";
    font-weight: 400;
  }

  .date-box{
    border-bottom: 1px solid #aaa;
    padding-bottom: 8px;
  }

  .date-box p{
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
  }

  .date-box h3{
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
  }

  .all-report a{
    font-family: "Cormorant Garamond";
    font-size: 25px;
    font-weight: 800;
    color: #ad181f;
    text-decoration: underline;
    text-underline-offset: 0.4em;
  }

  .title h4{
    font-size: 25px;
  }

  .title h4::before{
    content: "";
    display: inline-block;
    background-color: #ad181f;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }


  /* Slider */

  .slider {
    overflow: hidden;
    position: relative;
  }
  
  .slider img {
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
  }
  
  .slider-container {
    display: flex;
    width: calc(100% * 3); /* For infinite scrolling, repeat images three times */
    transform: translateX(-50%); /* Start with the second set of images */
    transition: transform 0.3s ease;

  }
  
  .slider img.partial {
    opacity: 0.5;
  }
  
  /* Navigation buttons styles remain the same */
  
  .slider-prev,
  .slider-next {
    color: #000;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
    position: relative;
  }
  
  .slider-prev {
    position: relative;
  }
  
  .slider-next {
    position: relative;
  }

  .slider-prev,
  .slider-next p{
    font-size: 14px;
    font-weight: 400;
    font-family:"Cormorant Garamond" ;
    cursor: pointer;
  }

  .slider-parent {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
  }

  .index{
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 200px 0px;
  }
  .index a{
    font-family: "Cormorant Garamond";
    color: #ad181f;
    font-size: 34px;
    text-decoration: underline;
    text-underline-offset: 0.8rem ;
    margin: auto;
    font-weight: 700;
  }

  .index a::before{
   content: url('../../assets//images//b-back_icon.svg');
   width: 20px;
   display: inline-block;
   margin-right: 10px;
  }

  .before-footer{
    border-top: 1px solid #aaa;
  }