.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    padding: 2.1875rem 100px;
  }
  
  .reserves {
    font-size: 11px;
    font-family: "Cormorant Garamond";
  }
  
  .logo{
    position: absolute;
    right: 48%;
  }

  .logo p{
    font-weight: 800;
    font-size: 18px;
  }