.row{
  margin-right: 0 !important;
}
.lFellows-title-main {
  color: aliceblue;
  fill: #d1d1d1;
  stroke: #000;
  stroke-width: 0.02;
  stroke-miterlimit: 10;
}

.main {
  width: 58%;
}

.hand {
  right: 28%;
  top: 50%;
  transform: translateY(0);
  z-index: 2;
  width: 175px;
  transition: right 0.7s, top 0.7s;
}
.hand-1 {
  position: absolute;
  right: 35%;
  top: 96%;
  transform: translateY(-50%);
  z-index: 2;
  transition: right 0.3s, top 0.3s;
}

/* .thumbnail-hover {
}

.img-hover {
  display: none;
} */

.img-hover :hover {
  display: block;
}

.hand-2 {
  position: absolute;
  right: 39%;
  top: 110%;
  transform: translateY(-50%);
  transition: right 0.3s, top 0.3s;
}

.hand-3 {
  position: absolute;
  right: 37%;
  top: 125%;
  transform: translateY(-50%);
  transition: right 0.3s, top 0.3s;
}

.layers {
  background-size: contain;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
}

.layer-item-1 {
  margin-top: 10px;
  color: #ad181f;
  font-size: 14px;
  font-weight: 900;
  font-family: "Hiragino";
  text-decoration: underline;
  text-underline-offset: 0.4em;
}

.layer-item-2 {
  margin-top: 10px;
  color: #ad181f;
  font-weight: 900;
  font-family: "Hiragino";
  text-decoration: underline;
  margin-top: 7.1875rem;
  margin-right: 1rem;
  text-underline-offset: 0.4em;
  font-size: 14px;
  padding-right: 0.3125rem;
  letter-spacing: 0.01em;
  line-height: 1.92308;
}

.layer-item-3 {
  margin-top: 10px;
  color: #ad181f;
  font-size: 14px;
  font-weight: 900;
  font-family: "Hiragino";
  text-decoration: underline;
  margin-top: 7.1875rem;
  margin-right: 1rem;
  text-underline-offset: 0.4em;
}

.custom-hr {
  background-color: #aaa;
  height: 2px;
  margin: 30px 0;
}

.top-bar {
  width: 95%;
  margin: auto;
  padding: 55px 0px;
  border: solid #aaa;
  border-width: 1px 0px 1px 0px;
}

.mid-bar {
  width: 95%;
  margin: auto;
  padding: 55px 0px;
  
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaa;
}

.mid-bar h2 {
  font-size: 34px;
  font-weight: 600;
  color: #000;
}

.mid-bar h3 {
  font-size: 21px;
  font-weight: 400;
  color: #aaaaaa;
  text-align: center;
}
.bottom-bar {
  width: 95%;
  margin: auto;
  padding: 55px 0px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.bottom-bar h2 {
  font-size: 34px;
  font-weight: 600;
  color: #000;
}

.bottom-bar h3 {
  font-size: 21px;
  font-weight: 400;
  color: #aaaaaa;
  text-align: center;
}
.rara-text:before {
  content: "";
  display: inline-block;
  background-color: #ad181f;
}

.top-bar h2 {
  font-size: 34px;
  font-weight: 600;
  color: #000;
}

.bullet-point {
  width: 12px;
  height: 12px;
  background-color: #ab292c;
  border-radius: 50%;
  display: inline-block;
  margin: auto 15px;
}

.top-bar h3 {
  font-size: 21px;
  font-weight: 400;
  color: #aaaaaa;
  text-align: center;
}

.associate-bar {
  width: 95%;
  margin: auto;
  padding: 55px 0px;
  border: solid #aaa;
  border-width: 0px 0px 1px 0px;
}

.associate-bar h2 {
  font-size: 34px;
  font-weight: 600;
  color: #000;
}

.associate-bar h3 {
  font-size: 21px;
  font-weight: 400;
  color: #aaaaaa;
}

.tag {
  margin: 45px 0px;
  font-family: "Shippori Mincho B1";
  font-size: 17px;
  font-weight: 500;
}

.fellows-container {
  flex-wrap: wrap;
  margin-top: 50px;
  cursor: pointer;
}

.job-post {
  font-size: 11px;
  color: #aaaaaa;
  font-family: "Open Sans";
  text-transform: uppercase;
}

.job-post h5 {
  display: inline-block;
  margin: 0;
  position: relative;
  padding-left: 10px;
  transform: rotate(90deg);
  transform-origin: left center;
  white-space: nowrap;
  writing-mode: vertical;
  font-family: "Open Sans";
  font-size: 11px;
}

.job-post h5::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #aaaaaa;
  border-radius: 50%;
  margin-right: 5px;
}

.fellows-container h4 {
  font-family: "Cormorant Garamond";
  font-size: 34px;
  font-weight: 600;
}

.fellows-container p {
  font-family: "Hiragino";
  font-size: 13px;
  font-weight: 600;
}

.btn {
  display: flex;
  padding-left: 40px;
  padding-right: 20px;
  justify-content: flex-end;
  padding-top: 55px;
}

.fellows-container a {
  font-size: 11px;
  font-family: "Open Sans";
  font-weight: 500;
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: #ab292c;
  border-radius: 50%;
  display: inline-block;
  margin: auto 5px;
  display: none;
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 0.7s, right 0.7s, top 0.7s;
}

.fellow-box:hover .bullet {
  display: block;
  opacity: 1;
  animation: fadeInOut 1s forwards;
}

.det-btn {
  transition: opacity 0.7s, right 0.7s, top 0.7s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    display: block;
  }
  50% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.fellow-box:hover .bullet {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}
.fellow-box {
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
  flex-basis: calc(33.33% - 20px);
  border-right: 1px solid #aaaaaa;
  padding-right: 20px;
}

.fellows-container > .fellow-box:nth-child(3n) {
  border-right: none;
}

.graphics-1 {
  width: 8.75rem;
  height: 8.75rem;
  opacity: 0;
  transform: scale(0.5);
  transition: transform 0.7s cubic-bezier(0.16, 1, 0.3, 1), ease-in-out;
}
.fellow-box:hover .graphics-1 {
  width: 8.75rem;
  height: 8.75rem;
  opacity: 1;
  animation: sizeAnimation 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
.graphics-2 {
  width: 3.75rem;
  height: 3.75rem;
  opacity: 0;
  transform: scale(0.5);
  transition: transform 0.7s cubic-bezier(0.16, 1, 0.3, 1), ease-in-out;
}

.fellow-box:hover .graphics-2 {
  width: 3.75rem;
  height: 3.75rem;
  opacity: 1;
  animation: sizeAnimation 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.graphics-3box {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.graphics-3 {
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0;
  transform: scale(0.5);
  transition: transform 0.7s cubic-bezier(0.16, 1, 0.3, 1), ease-in-out;
}

.fellow-box:hover .graphics-3 {
  width: 1.25rem;
  height: 1.25rem;
  opacity: 1;
  /* animation-delay: 5s; */
  animation: sizeAnimation 3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes sizeAnimation {
  0% {
    transform: scale(0.2);
  }
  /* 50% {
    transform: scale();
  } */
  100% {
    transform: scale(1);
  }
}

.website-btn {
  color: #ad181f;
  font-size: 32px;
  font-family: "Cormorant Garamond";
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 0.4em;
}

.layers {
  background-image: url("../../assets/images/fellow-hero.png");
  background-repeat: no-repeat;
  width: 47.625rem;
  height: 35rem;
  padding-top: 10.125rem;
  margin-top: -3.8125rem;
  margin-left: auto;
  margin-right: -1.0625rem;
}

.before-footer {
  border-top: solid 1px #aaaaaa;
  width: 95%;
  margin: auto;
}

.st0 {
  stroke: #000;
  stroke-width: 0.02;
  stroke-miterlimit: 10;
}

.thumbnail-container {
  position: relative;
  border-radius: 25px;
  transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1) 0s;
  margin: auto;
  overflow: hidden;
}

.thumbnail-wrapper {
  width: 18rem;
  height: 31.25rem;
  border-radius: 25px;
  clip-path: rectangle(0, 0, 100%, 100%);
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.fellow-box:hover .thumbnail-container {
  transform: rotate(5deg) scale(0.8);
}

@media screen and (min-width: 1024px) and (max-width: 1240px) {
  .hand-1 {
    right: 51%;
    top: 95%;
    transform: translateY(0);
    z-index: 5;
    width: 350px;
    transition: right 0.7s, top 0.7s;
  }

  .hand-2 {
    position: absolute;
    right: 58%;
    top: 120%;
    z-index: 5;
    width: 350px;
    transform: translateY(-50%);
    transition: right 0.7s, top 0.7s;
  }

  .hand-3 {
    position: absolute;
    right: 55%;
    top: 137%;
    z-index: 5;
    width: 350px;
    transform: translateY(-50%);
    transition: right 0.7s, top 0.7s;
  }

  .layers {
    margin-top: 40px;
    background-size: 760px 500px !important;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
  }

  .layer-item-1 {
    margin-top: -10px;
    color: #ad181f;
    font-size: 14px;
    font-weight: 900;
    font-family: "Hiragino";
    text-decoration: underline;
    text-underline-offset: 0.4em;
  }

  .layer-item-2 {
    color: #ad181f;
    font-weight: 900;
    font-family: "Hiragino";
    text-decoration: underline;
    margin-top: 7.1875rem;
    margin-right: 1rem;
    text-underline-offset: 0.4em;
    font-size: 14px;
    padding-right: 0.3125rem;
    letter-spacing: 0.01em;
    line-height: 1.92308;
  }

  .layer-item-3 {
    color: #ad181f;
    font-size: 14px;
    font-weight: 900;
    font-family: "Hiragino";
    text-decoration: underline;
    margin-top: 7.1875rem;
    margin-right: 1rem;
    text-underline-offset: 0.4em;
  }

  .fellows-container h4 {
    font-family: "Cormorant Garamond";
    font-size: 26px;
    font-weight: 600;
  }
  .fellows-container p {
    font-family: "Hiragino";
    font-size: 12px;
    font-weight: 600;
  }
  .tag {
    margin: 45px 0px;
    font-family: "Shippori Mincho B1";
    font-size: 16px;
    font-weight: 500;
  }

  .thumbnail-wrapper {
    width: 12.75rem;
    height: 22.125rem;
  }
  .graphics-1div {
    margin-top: -90px;
    margin-right: 20px;
  }

  .graphics-2div {
    margin-left: 40px;
    margin-bottom: -70px;
  }
}

@media screen and (min-width: 1240px) and (max-width: 1440px) {
  .hand-1 {
    right: 41%;
    top: 94%;
    transform: translateY(0);
    z-index: 5;
    width: 350px;
    transition: right 0.7s, top 0.7s;
  }

  .hand-2 {
    position: absolute;
    right: 45%;
    top: 118%;
    z-index: 5;
    width: 350px;
    transform: translateY(-50%);
    transition: right 0.7s, top 0.7s;
  }

  .hand-3 {
    position: absolute;
    right: 43%;
    top: 134%;
    z-index: 5;
    width: 350px;
    transform: translateY(-50%);
    transition: right 0.7s, top 0.7s;
  }

  .layers {
    margin-top: 40px;
    background-size: 760px 500px !important;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
  }

  .layer-item-1 {
    margin-top: -10px;
    color: #ad181f;
    font-size: 14px;
    font-weight: 900;
    font-family: "Hiragino";
    text-decoration: underline;
    text-underline-offset: 0.4em;
  }

  .layer-item-2 {
    color: #ad181f;
    font-weight: 900;
    font-family: "Hiragino";
    text-decoration: underline;
    margin-top: 7.1875rem;
    margin-right: 1rem;
    text-underline-offset: 0.4em;
    font-size: 14px;
    padding-right: 0.3125rem;
    letter-spacing: 0.01em;
    line-height: 1.92308;
  }

  .layer-item-3 {
    color: #ad181f;
    font-size: 14px;
    font-weight: 900;
    font-family: "Hiragino";
    text-decoration: underline;
    margin-top: 7.1875rem;
    margin-right: 1rem;
    text-underline-offset: 0.4em;
  }

  .thumbnail {
    width: 16rem;
    height: 28.25rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .hand-1 {
    right: 35%;
    top: 73%;
    transform: translateY(0);
    z-index: 5;
    width: 350px;
    transition: right 0.7s, top 0.7s;
  }

  .hand-2 {
    position: absolute;
    right: 41%;
    top: 91%;
    z-index: 5;
    width: 350px;
    transform: translateY(-50%);
    transition: right 0.7s, top 0.7s;
  }

  .hand-3 {
    position: absolute;
    right: 38%;
    top: 100%;
    z-index: 5;
    width: 350px;
    transform: translateY(-50%);
    transition: right 0.7s, top 0.7s;
  }
  .fellows-container h4 {
    font-family: "Cormorant Garamond";
    font-size: 26px;
    font-weight: 600;
  }
  .fellows-container p {
    font-family: "Hiragino";
    font-size: 12px;
    font-weight: 600;
  }
  .tag {
    margin: 45px 0px;
    font-family: "Shippori Mincho B1";
    font-size: 16px;
    font-weight: 500;
  }

  .thumbnail-wrapper {
    width: 12.75rem;
    height: 22.125rem;
  }
  .fellow-box:hover .thumbnail-container {
    transform: none;
  }
}

@media screen and (max-width: 900px) {
  .bullet {
    width: 10px;
    height: 10px;
    background-color: #ab292c;
    border-radius: 50%;
    display: none;
    margin: auto 5px;
    display: none;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.7s, right 0.7s, top 0.7s;
  }

  .fellow-box:hover .bullet {
    display: none;
    opacity: 0;
    animation: fadeInOut 1s forwards;
  }
}

/* @media screen and (min-width: 1440px) {
  .hand-1 {
    right: 40%;
    top: 100%;
    transform: translateY(0);
    z-index: 2;
    width: 350px;
    transition: right 0.7s, top 0.7s;
  }

  .hand-2 {
    position: absolute;
    right: 43%;
    top: 94%;
    z-index: 5;
    width: 350px;
    transform: translateY(-50%);
    transition: right 0.7s, top 0.7s;
  }

  .hand-3 {
    position: absolute;
    right: 41%;
    top: 106%;
    z-index: 5;
    width: 350px;
    transform: translateY(-50%);
    transition: right 0.7s, top 0.7s;
  }
} */

@media screen and (min-width: 2560px) {
  .hand-1 {
    right: 28%;
    top: 41%;
    transform: translateY(0);
    z-index: 2;
    width: 350px;
    transition: right 0.7s, top 0.7s;
  }

  .hand-2 {
    position: absolute;
    right: 30%;
    top: 51%;
    z-index: 5;
    width: 350px;
    transform: translateY(-50%);
    transition: right 0.7s, top 0.7s;
  }

  .hand-3 {
    position: absolute;
    right: 29%;
    top: 57%;
    z-index: 5;
    width: 350px;
    transform: translateY(-50%);
    transition: right 0.7s, top 0.7s;
  }
}
@media only screen and (min-width: 1920px) {
.lFellows-bg-inner {
  padding: 70px;
}
.lFellows-content {
  overflow: visible !important;
}
.lFellows-title-inner {
  transform: scale(2.2) !important;
}
  .cSubTitle.-left.-gray.lFellows-title-sub {
     transform: scale(3.0);
}
}
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .lFellows-bg-inner {
    padding: 70px;
  }
  .lFellows-slider-inner {
    left: 0%;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  /* .lFellows-slider-inner {
     left: -10% !important;
} */
.lFellows-content {
  overflow: visible !important;
}

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .lFellows-slider-inner {
    position: absolute;
    width: 100%;
    transform: scale(0.72);
    left: -30%;
  }
  .-drag{
    display: none !important;
  }
  .-prev{
    display: none !important;
  }
  .cSliderMouseStalker-circle {
    display: none !important;
  }
  .lFellows-bg-inner {
       padding: 70px;
  }
  .lFellows-title-inner {
    transform: scale(0.8);
    position: relative;
    left: -5%;
}
  /* .cSubTitle.-left.-gray.lFellows-title-sub {
     right: 40%;
} */
  /* .cHeader-list {
    margin-top: -5.8px !important;
  }
  .cHeader-logo-item {
    margin-top: -30px;
  }
  .lUpdates-title-main {
    width: 300% !important;
    margin-left: -100%;
  }
  .lUpdates-ornament.-view {
      left: 20%;
      top: -11.5rem;
  }
  .lGuideline-title-svg {
    margin-left: 16%;
  }
  #contact {
    margin-left: -20%;
  } */

  }
  /* @media only screen and (max-width: 767px) {
    .cHeader-logo.-kvLoaded {
      top: 1.4rem !important;
    }
    #focusArea {
      width: 72px;
    }
    .cHeader-list-link {
      font-size: 12px;
    }
    .cMenu-btn-container {
      margin-top: -7%;
      padding-left: 20px;
      position: relative;
      left: 10%;
    }
    .dropdown-content {
      z-index: 2222222222222222;
      
    }
    .lGuideline-title-inner {
      transform: scale(0.45);
      left: -67%;
    }
    .cHeader {
       transform: scaleX(0.95) !important;
    }
    .lUpdates-ornament.-view {
      width: 100%;
    }
    #resarchLink {
      margin-left: -3.5px;
    }
    .lContact-title {
      margin-left: 0%;
    }
    .lContact-lead-svg._pc {
      transform: scale(0.5);
          left: -23%;
      position: relative;
    }
  } */
  